:root{
	--blue: #0093ff;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial';
}

body.using-mouse :focus{
	outline: 1px solid transparent;
}

a:focus, textarea:focus, button:focus{
	outline: 1px solid var(--blue);
}

a{
	text-decoration: none;
}

button{
	cursor: pointer;
}