header{
	background: url('../img/bg/background.jpg') center center/cover no-repeat fixed;
	padding: 250px 0;
	text-align: center;
}

header h1{
	font-family: 'Poppins';
	font-weight: 600;
	color: white;
	font-size: 40px;
}

header a{
	color: white;
	background: var(--blue);
	display: inline-block;
	margin-top: 30px;
	padding: 10px 20px;
	border-radius: var(--border-radius);
	font-family: 'Poppins';
	font-weight: 600;
}

section#lapor{
	padding: 100px 0;
	width: 95%;
	max-width: 1100px;
	margin: auto;
}

section#lapor p{
	margin-top: 30px;
	color: dimgray;
}

section#jumlah-laporan{
	background: #00000005;
}

section#jumlah-laporan .width{
	padding: 100px 0;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 95%;
	max-width: 1100px;
	margin: auto;
}

section#jumlah-laporan span{
	display: inline-block;
	margin-top: 30px;
	font-size: 50px;
}