/* header */
header{
	background: url('../img/bg/background.jpg') center center/cover no-repeat fixed;
	padding: 6cm 0;
	text-align: center;
}

header h1{
	color: white;
	letter-spacing: -2px;
	margin: 0 1cm;
}

header a{
	display: inline-block;
	margin-top: 1cm;
}

header a:hover,
header a:focus{
	background: transparent;
	border: 1px solid var(--bg-color-primary);
}



/* about */
section#about{
	width: 95%;
	max-width: 1100px;
	margin: auto;
	padding: 3cm 0;
	text-align: center;
}

section#about h2{
	margin-bottom: 10px;
}

section#about span{
	color: darkgray;
}

section#about p{
	margin-top: 1cm;
	color: dimgray;
}



/* report */
section#report{
	background: whitesmoke;
	padding: 3cm 0;
}

section#report > div{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(9cm, 1fr));
	grid-gap: 1cm;
	width: 95%;
	max-width: 1100px;
	margin: auto;
	text-align: center;
}

section#report div div h2{
	margin-bottom: 10px;
}

section#report div div span{
	font-size: 1.5cm;
	font-weight: lighter;	
	color: dimgray;
}