main{
	display: flex;
	align-items: center;
	justify-content: center;
}

main form{
	box-shadow: 0 0 10px #00000020;
	padding: 1.5cm 1cm;
	text-align: center;
	background: white;
	border-radius: 1cm 0;
	position: relative;
	width: 11cm;
}

main form > a{
	position: absolute;
	top: 20px;
	left: 20px;
	line-height: 50%;
}

main form > a img{
	box-shadow: 0 0 3px #00000050;
	width: 1cm;
	border-radius: 50%;
}

main form h1{
	font-family: 'Arial';
	font-size: 25px;
	color: var(--blue);
	margin-bottom: 10px;
}

main form > span{
	font-size: 18px;
	color: darkgray;
	font-family: 'Calibri';
}

main form div:first-of-type{
	margin-top: 20px;
}

main form div{
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	border-radius: 20px;
	border: 1px solid lightgray;
}

main form div input{
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 20px;
	font-size: 15px;
}

main form div img{
	width: 40px;
}

main form button{
	width: 100%;
	margin: .5cm 0;
	background: var(--blue);
	border: 1px solid var(--blue);
	color: white;
	padding: 10px;
	border-radius: 20px;
	font-weight: bold;
	font-size: 14px;
}

main form span a{
	color: var(--blue);
}