main .content{
	padding: 1cm;
}

main .content > div:first-of-type{
	background: white;
	padding: 20px 1cm;
	text-align: left;
	display: flex;
	align-items: center;
	position: relative;
	box-shadow: 0 5px 10px #0000000f;
}

main .content > div:first-of-type img:first-of-type{
	width: 1cm;
}

main .content > div:first-of-type span{
	color: dimgray;
}

main .content > div:first-of-type img:last-of-type{
	width: 3cm;
	position: absolute;
	right: 1cm;
}

main .content > div:last-of-type{
	display: grid;
	grid-template-columns: 11cm 1fr;
	grid-gap: 1cm;
	margin-top: 1cm;
}

main .content > div:last-of-type div form{
	background: white;
	padding: 1cm;
	box-shadow: 0 5px 10px #0000000f;
}

main .content > div:last-of-type div form h2{
	font-size: 16px;
	color: dimgray;
}

main .content > div:last-of-type div form > div:first-of-type{
	margin: 50px 0;
	text-align: center;
	position: relative;
}

main .content > div:last-of-type div form > div:first-of-type > img{
	width: 3cm;
	height: 3cm;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

main .content > div:last-of-type div form > div:first-of-type label{
	position: absolute;
	bottom: 0px;
	right: 3cm;
	border-radius: 50%;
	box-shadow: 0 0 10px #00000040;
	line-height: 0;
	padding: 7px;
	background: white;
	cursor: pointer;
}

main .content > div:last-of-type div form > div:first-of-type label img{
	width: 20px;
}

main .content > div:last-of-type div form > div:first-of-type label input{
	display: none;
}

main .content > div:last-of-type div form > div:not(:first-of-type){
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main .content > div:last-of-type div form > div:nth-of-type(2),
main .content > div:last-of-type div form > div:nth-of-type(3){
	margin: 10px 0 0;
	border: 1px solid lightgray;
	border-radius: 20px;
	
}

main .content > div:last-of-type div form > div:not(:first-of-type) img{
	width: 1cm;
}

main .content > div:last-of-type div form > div:not(:first-of-type) input{
	width: 100%;
	font-size: 15px;
	color: dimgray;
	margin: 0 10px;
	border: none;
}

main .content > div:last-of-type div form > div:last-of-type > a,
main .content > div:last-of-type div form > div:last-of-type div button:first-of-type,
main .content > div:last-of-type div form > div:last-of-type div button:last-of-type{
	padding: 5px 10px;
	font-size: 14px;
}

main .content > div:last-of-type div form > div:last-of-type{
	margin-top: 30px;
}

main .content > div:last-of-type div form > div:last-of-type > a{
	background: var(--red);
	color: var(--darkred);
	border: 1px solid var(--red);
}

main .content > div:last-of-type div form > div:last-of-type div button{
	padding: 5px 15px;
}

main .content > div:last-of-type div form > div:last-of-type div button:first-of-type{
	background: var(--yellow);
	color: var(--darkyellow);
	border: 1px solid var(--yellow);
}

main .content > div:last-of-type div form > div:last-of-type div button:last-of-type{
	background: var(--green);
	color: var(--darkgreen);
	border: 1px solid var(--green);
}

main .content > div:last-of-type > .data > div{
	box-shadow: 0 5px 10px #0000000f;
	background: white;
}

main .content > div:last-of-type > .data div > h2{
	padding-top: 1cm;
	text-align: center;
	color: dimgray;
}

main .content > div:last-of-type > .data div > span{
	display: block;
	text-align: center;
	margin: 5px 0 1cm;
	color: gray;
	letter-spacing: 1px;
}

main .content > div:last-of-type .data div > div{
	position: relative;
	border-bottom: .5px solid #eeeeee;
	text-align: left;
}

main .content > div:last-of-type .data > div > div:first-of-type{
	border-top: 1px solid #ccc;
}

main .content > div:last-of-type .data div > div:hover{
	background-color: #e4e8f2;
}

main .content > div:last-of-type .data div > div > a{
	display: grid;
	grid-template-columns: 6cm 1fr 4.8cm;
}

main .content > div:last-of-type .data div div a div:not(.action){
	padding: 20px 10px;
	color: dimgray;
}

main .content > div:last-of-type .data div div a div:first-of-type{
	padding-left: 30px;
}

main .content > div:last-of-type .data div div a div:nth-of-type(1),
main .content > div:last-of-type .data div div a div:nth-of-type(2){
	min-width: 0;
	align-self: center;
}

main .content > div:last-of-type .data div div a div:nth-of-type(1) span,
main .content > div:last-of-type .data div div a div:nth-of-type(2) p{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

main .content > div:last-of-type .data div div a div:nth-of-type(3){
	text-align: right;
	padding-right: 30px;
}

main .content > div:last-of-type .data div div div.action{
	z-index: 1;
	position: absolute;
	top: 50%;
	right: 0;
	background-color: #e4e8f2;
	transform: translateY(-50%);
	display: none;
	width: 5cm;
	text-align: center;
	border-bottom: unset;
}

main .content > div:last-of-type .data div > div:hover div.action{
	display: block;
}

main .content > div:last-of-type .data div div div.action a{
	display: inline-block;
	line-height: 0;
	border-radius: 50%;
	padding: 10px;
}

main .content > div:last-of-type .data div div div.action a:hover{
	background-color: var(--lightblue);
}

main .content > div:last-of-type .data div div div.action a img{
	width: 25px;
}