:root{
	--dark-blue: #292e40;
	--soft-blue: #b9c4ce;
}

body{
	/* overflow: hidden; */
	background: #edf0f5;
}

.wrapper{
	display: grid;
	grid-template-columns: 7cm 1fr;
	height: 100%;
	max-height: 100%;
}

.wrapper nav{
	background: white;
	height: 100vh;
	overflow-y: auto;
}

.wrapper nav > *{
	display: block;
}

.wrapper nav .profile{
	padding: 1cm 0;
	box-shadow: 0px 5px 10px #00000009;
}

.wrapper nav .profile > *{
	display: block;
	text-align: center;
	color: var(--soft-blue);
}

.wrapper nav .profile img{
	width: 100px;
	border-radius: 50%;
	margin: auto;
}

.wrapper nav .profile span{
	margin-top: 5px;
	font-size: 14px;
}

.wrapper nav .profile span:first-of-type{
	font-weight: bold;
	margin-top: 10px;
}

.wrapper nav .profile .group{
	margin-top: .5cm;
}

.wrapper nav .profile .group a{
	padding: 5px;
	color: var(--soft-blue);
}

.wrapper nav .profile .group a:hover{
	color: var(--dark-blue);
}

.wrapper nav > a{
	padding: 20px 50px 20px 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	transition: .3s;
	font-weight: bold;
	color: var(--dark-blue);
}

.wrapper nav > a:hover,
.wrapper nav > a.active{
	box-shadow: 0px 0 20px #00000010;
	padding: 20px 40px 20px 40px;
	color: #8088a5;
}

.wrapper nav > a img{
	width: 13px;
}

.wrapper main .pageinfo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--dark-blue);
	color: white;
	padding: .5cm 1cm;
}

.wrapper main .pageinfo span{
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 900;
}

.wrapper main .pageinfo .breadcrumbs{
	font-size: 15px;
}

.wrapper main .information{
	margin: 1cm;
	display: grid;
	grid-template-columns: 10cm 1fr;
	grid-gap: 1cm;
}

.wrapper main .information form{
	background: white;
	padding: .7cm;
	box-shadow: 0 0 10px #0000000a;
}

.wrapper main .information form span{
	font-weight: bold;
	margin-bottom: 20px;
	display: block;
}

.wrapper main .information form > div:not(:last-child){
	margin-top: 10px;
	padding: 5px 20px;
	box-shadow: 0 5px 10px #00000009;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper main .information form div i{
	font-size: 20px;
	color: var(--dark-blue);
}

.wrapper main .information form div input{
	padding: 10px 0 10px 20px;
	border: none;
	font-size: 15px;
	width: 100%;
	outline: none;
	color: #000000aa;
}

.wrapper main .information form > div:last-child{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.wrapper main .information form div:last-child a{
	padding: 10px 10px;
	font-size: 13px;
	font-weight: bold;
	box-shadow: 0 5px 10px #00000010;
	transition: .3s;
	outline: none;
}

.wrapper main .information form div:last-child a:hover{
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.wrapper main .information form div:last-child button{
	padding: 10px 10px;
	font-size: 13px;
	border: 1px;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0 5px 10px #00000010;
	outline: none;
}

.wrapper main .information .data .greet{
	background: white;
	padding: .5cm;
	box-shadow: 0 0 10px #0000000a;
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: .5cm;
}

.wrapper main .information .data .greet img.user{
	width: 50px;
	border-radius: 50%;
}

.wrapper main .information .data .greet span{
	margin-left: 15px;
	/* font-weight: bold; */
	font-family: 'Poppins';
	font-size: 16px;
}

.wrapper main .information .data .greet img.icon{
	width: 3cm;
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
	right: 1cm;
}

.wrapper main .information .data .card-info{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(6cm, 1fr));
	grid-gap: .5cm;
}

.wrapper main .information .data .card-info .card{
	background: white;
	padding: .7cm;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper main .information .data .card-info .card i{
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: flex;
	font-size: .7cm;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 20px #0000001a;
}

.wrapper main .information .data .card-info .card div span{
	display: block;
	font-family: "Poppins";
	text-align: right;
	color: #000000a0;
	font-size: 14px;
}

.wrapper main .information .data .card-info .card div span:nth-child(2){
	font-size: .7cm;
	font-weight: bold;
}