main .content{
	padding: 1cm;
}

main .content > div:first-of-type{
	background: var(--light-color);
	padding: 20px 1cm;
	text-align: left;
	display: flex;
	align-items: center;
	position: relative;
	box-shadow: 0 5px 10px #0000000F;
}

main .content > div:first-of-type img:first-of-type{
	width: 1cm;
}

main .content > div:first-of-type span{
	color: var(--soft-dark-color);
}

main .content > div:first-of-type img:last-of-type{
	width: 3cm;
	position: absolute;
	right: 1cm;
}

main .content > div:last-of-type{
	display: grid;
	grid-template-columns: 9cm 1fr;
	grid-gap: 1cm;
	margin-top: 1cm;
}

main .content > div:last-of-type > .count-data > div{
	background: white;
	display: grid;
	grid-template-columns: 1fr;
	box-shadow: 0 0 10px #0000000F;
	border-radius: 1cm 0;
}

main .content > div:last-of-type > .count-data > div > div{
	display: grid;
	grid-template-columns: 3cm 1fr;
	align-items: center;
	padding: 20px 0;
	grid-column-gap: .8cm;
	color: var(--soft-dark-color);
}

main .content > div:last-of-type > .count-data > div > div:not(:last-of-type){
	border-bottom: 1px solid #00000025;	
}

main .content > div:last-of-type > .count-data > div > div img{
	width: 2cm;
	margin-left: auto;
	box-shadow: 0 0 10px #00000020;
	border-radius: 50%;
}

main .content > div:last-of-type > .count-data > div > div div strong{
	font-size: 1cm;
	margin-right: 5px;
}

main .content > div:last-of-type > .data > div{
	box-shadow: 0 5px 10px #0000000F;
	background: var(--light-color);
}

main .content > div:last-of-type > .data div > h2{
	padding-top: 1cm;
	text-align: center;
	color: var(--soft-dark-color);
}

main .content > div:last-of-type > .data div > span{
	display: block;
	text-align: center;
	margin: 5px 0 1cm;
	color: var(--soft-dark-color);
	letter-spacing: 1px;
}

main .content > div:last-of-type .data > div > div{
	position: relative;
	border-top: .5px solid #00000050;
	text-align: left;
}

main .content > div:last-of-type .data div > div:hover{
	background-color: var(--secondary-color);
}

main .content > div:last-of-type .data div > div > a{
	display: grid;
	grid-template-columns: 6cm 1fr 4.8cm;
}

main .content > div:last-of-type .data div div a div:not(.action){
	padding: 20px 10px;
	color: var(--soft-dark-color);
}

main .content > div:last-of-type .data div div a div:first-of-type{
	padding-left: 30px;
}

main .content > div:last-of-type .data div div a div:nth-of-type(1),
main .content > div:last-of-type .data div div a div:nth-of-type(2){
	min-width: 0;
	align-self: center;
}

main .content > div:last-of-type .data div div a div:nth-of-type(1) span,
main .content > div:last-of-type .data div div a div:nth-of-type(2) p{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

main .content > div:last-of-type .data div div a div:nth-of-type(3){
	text-align: right;
	padding-right: 30px;
}

main .content > div:last-of-type .data div div div.action{
	z-index: 1;
	position: absolute;
	top: 50%;
	right: 0;
	background: var(--secondary-color);
	transform: translateY(-50%);
	display: none;
	width: 5cm;
	text-align: center;
	border-bottom: unset;
}

main .content > div:last-of-type .data div > div:hover div.action{
	display: block;
}

main .content > div:last-of-type .data div div div.action a{
	display: inline-block;
	line-height: 0;
	border-radius: 50%;
	padding: 10px;
}

main .content > div:last-of-type .data div div div.action a:hover{
	background-color: var(--soft-light-color);
}

main .content > div:last-of-type .data div div div.action a img{
	width: 25px;
}