main .content{
	text-align: center;
}

main .content > div{
	background: white;
	box-shadow: 0 5px 10px #0000000f;
}

main .content > div h2{
	padding: 1cm 0 5px;
}

main .content > div > span{
	color: gray;
	letter-spacing: 1px;
}

main .content div .data{
	margin-top: 1cm;
}

main .content div .data > div{
	display: grid;
	grid-template-columns: 2cm 6cm 1fr 6cm;
	text-align: left;
	border-bottom: .5px solid #eeeeee;
	background: #f9f9f9;
	position: relative;
}

main .content div .data > div:hover{
	background: #eeeeee;
}

main .content div .data div div:not(.action){
	padding: 20px;
	color: dimgray;
}

main .content div .data div div:first-of-type{
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 0;
}

main .content div .data div div:nth-of-type(2),
main .content div .data div div:nth-of-type(3){
	min-width: 0;
}

main .content div .data div div:nth-of-type(2) span,
main .content div .data div div:nth-of-type(3) p{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

main .content div .data div div:nth-of-type(4){
	text-align: center;
}

main .content div .data div div.action{
	position: absolute;
	top: 50%;
	right: 0;
	background: #eeeeee;
	transform: translateY(-50%);
	display: flex;
	padding: 0 1cm;
}

main .content div .data div div.action a{
	display: none;
	line-height: 0;
	border-radius: 50%;
	padding: 10px;
}

main .content div .data > div:hover div.action a{
	display: block;
}

main .content div .data div div.action a:hover{
	background-color: #e8e8e8;
}

main .content div .data div div.action a img{
	width: 25px;
}