main .content .header h2{
	color: var(--primary-color);
	margin-bottom: 5px;
	font-size: 25px;
}

main .content .header span{
	color: var(--soft-dark-color);
	font-size: 15px;
	letter-spacing: .5px;
}

main .content > div:last-of-type{
	display: grid;
	grid-template-columns: 10cm 1fr;
	grid-gap: 1cm;
	margin-top: 1cm;
}

main .content div:last-of-type form.filter > div{
	background: var(--light-color);
	box-shadow: 0 5px 10px #0000000F;
	padding: 20px;
}

main .content div:last-of-type form.filter div .header span{
	display: block;
	padding: 20px;
	font-size: 13px;
	color: var(--soft-dark-color);
	font-weight: bold;
}

main .content div:last-of-type form.filter div .filter-menu{
	border-bottom: 1px solid #00000020;
	border-top: 1px solid #00000020;
	padding-bottom: 10px;
}

main .content div:last-of-type form.filter div .filter-menu div{
	padding: 10px 30px;
}

main .content div:last-of-type form.filter div .filter-menu div span{
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	color: var(--soft-dark-color);
}

main .content div:last-of-type form.filter div .filter-menu div select{
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	font-size: 12px;
	letter-spacing: 1px;
	border-radius: 5px;
	border: 1px solid var(--soft-light-color);
	color: var(--soft-dark-color);
	cursor: pointer;
}

main .content div:last-of-type form.filter div .footer{
	padding-top: 20px;
	text-align: center;
}

main .content div:last-of-type form.filter div .footer > *{
	background: var(--primary-color);
	color: var(--light-color);
	border: none;
	padding: 10px;
	width: 2.6cm;
	margin: 0 5px;
	font-weight: bold;
	border-radius: 5px;
	font-size: 13px;
	text-align: center;
}

main .content div .data > form{
	background: var(--light-color);
	box-shadow: 0 5px 10px #0000000F;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px;
	border-bottom: .5px solid #00000050;
}

main .content div .data > form span{
	color: var(--soft-dark-color);
	width: 100%;
}

main .content div .data > form div{
	display: flex;
	align-items: center;
	width: 100%;
}

main .content div .data > form div input{
	text-align: right;
	border: none;
	letter-spacing: 1px;
	outline: none;
	width: 100%;
	font-size: 15px;
	color: var(--primary-color);
	margin-right: 5px;
}

main .content div .data > form div button{
	line-height: 0;
	background: transparent;
	border: none;
	margin-left: 10px;
	padding: 10px;
	border-radius: 50%;
	transition: .3s;
}

main .content div .data > form div button:hover{
	background: var(--secondary-color);
}

main .content div .data > form div button img{
	width: 15px;
}

main .content div .data > section.header{
	display: grid;
	grid-template-columns: 2cm 6cm 1fr 6cm;
	text-align: center;
	background: var(--light-color);
	box-shadow: 0 5px 10px #0000000F;
	padding: 10px 0;
	font-weight: bold;
}

main .content div .data > section.header div span{
	color: var(--soft-dark-color);
}

main .content div .data > div{
	background: var(--light-color);
	box-shadow: 0 5px 10px #0000000F;
}

main .content div .data > div > div{
	position: relative;
	border-top: .5px solid #00000050;
	text-align: left;
}

main .content div .data div > div:hover{
	background-color: var(--secondary-color);
}

main .content div .data div > div > a{
	display: grid;
	grid-template-columns: 2cm 6cm 1fr 6cm;
}

main .content div .data div div a div:not(.action){
	padding: 20px;
	color: var(--soft-dark-color);
}

main .content div .data div div a div:first-of-type{
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 0;
}

main .content div .data div div a div:nth-of-type(2),
main .content div .data div div a div:nth-of-type(3){
	min-width: 0;
	align-self: center;
}

main .content div .data div div a div:nth-of-type(2) span,
main .content div .data div div a div:nth-of-type(3) p{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

main .content div .data div div a div:nth-of-type(4){
	text-align: right;
	padding-right: 30px;
}

main .content div .data div div div.action{
	z-index: 1;
	position: absolute;
	top: 50%;
	right: 0;
	background-color: var(--secondary-color);
	transform: translateY(-50%);
	display: none;
	width: 5.5cm;
	text-align: center;
}

main .content div .data div > div:hover div.action{
	display: block;
}

main .content div .data div div div.action > *{
	display: inline-block;
	line-height: 0;
	border-radius: 50%;
	padding: 10px;
	border: none;
	background: transparent;
}

main .content div .data div div div.action > *:hover{
	background-color: var(--soft-light-color);
}

main .content div .data div div div.action > * img{
	width: 25px;
}

.popup{
	position: fixed;
	background: #00000090;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.popup > form{
	background: var(--light-color);
	box-shadow: 0 5px 10px #00000020;
	width: 14cm;
	padding: 1cm;
	position: relative;
	text-align: center;
}

.popup form > button{
	position: absolute;
	top: 20px;
	right: 20px;
	background: transparent;
	border: none;
}

.popup form > button img{
	width: 15px;
}

.popup form > img{
	width: 2cm;
	margin: 20px 0;
}

.popup form > h2{
	margin-bottom: 20px;
	color: var(--soft-dark-color);
}

.popup form > span{
	display: block;
	color: var(--soft-dark-color);
	margin-bottom: 5px;
}

.popup form > span strong{
	color: var(--primary-color);
}

.popup form div{
	margin-top: 20px;
}

.popup form div button{
	width: 2cm;
	padding: 5px;
	border: 1px solid var(--primary-color);
	background: var(--primary-color);
	color: var(--light-color);
}