main .content h2{
	text-align: center;
	margin-bottom: 20px;
}

main .content > div:first-of-type{
	display: flex;
}

main .content > div:first-of-type button,
main .content > div:first-of-type > a{
	background: var(--light-color);
	border: none;
	padding: 10px;
	box-shadow: 0 0 10px #0000000F;
	display: flex;
	align-items: center;
	color: var(--soft-dark-color);
	font-weight: bold;
	font-size: 14px;
}

main .content > div:first-of-type button:hover,
main .content > div:first-of-type > a:hover{
	background: #0000000F;
}

main .content > div:first-of-type button img{
	width: 20px;
	margin-right: 5px;
}

main .content > div:first-of-type > a{
	margin-left: 10px;
}

main .content > div:first-of-type > a img{
	width: 20px;
	margin-right: 5px;
}

main .content > div:last-child{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1cm;
	margin-top: 10px;
}

main .content div .report > div{
	padding: 1cm;
	background: var(--light-color);
}

main .content div .report div .header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

main .content div .report div .header span:first-of-type{
	font-weight: bold;
	color: var(--primary-color);
}

main .content div .report div .header span:last-of-type{
	color: var(--soft-dark-color);
}

main .content div .report > div > span{
	font-size: 16px;
}

main .content div .report > div > img{
	width: 100%;
	border-top: .5px solid var(--soft-light-color);
	margin-top: 20px;
	padding-top: 20px;
}

main .content div .report > div > span:last-of-type{
	border-top: .5px solid var(--soft-light-color);
	display: block;
	margin-top: 20px;
	padding-top: 20px;
}

main .content div .report div > span strong{
	color: var(--soft-dark-color);
}

main .content div .report div p{
	margin-top: 1cm;
	text-align: justify;
	letter-spacing: 1px;
	line-height: 30px;
	color: var(--soft-dark-color);
	white-space: pre-line;
}

main .content div .action form{
	background: var(--light-color);
	padding: 1cm;
	text-align: center;
}

main .content div .action form h3{
	color: var(--soft-dark-color);
}

main .content div .action form textarea{
	width: 100%;
	min-height: 5cm;
	padding: 20px;
	font-size: 16px;
	color: var(--soft-dark-color);
	margin-top: 20px;
	line-height: 25px;
}

main .content div .action form button{
	margin-left: auto;
	display: block;
	margin-top: 10px;
	background: var(--primary-color);
	border: 1px solid var(--primary-color);
	padding: 10px 20px;
	font-weight: bold;
	letter-spacing: 1px;
	color: var(--light-color);
}

main .content div .action .comment{
	background: var(--light-color);
	margin-top: 10px;
	padding: 25px;
}

main .content div .action .comment > div{
	display: flex;
	justify-content: space-between;
}

main .content div .action .comment div strong{
	color: var(--soft-dark-color);
}

main .content div .action .comment div span{
	color: var(--soft-dark-color);
}

main .content div .action .comment p{
	margin-top: 10px;
	color: var(--soft-dark-color);
	line-height: 20px;
	text-align: justify;
	white-space: pre-line;
}

main .content div .action .comment p::before{
	content: open-quote;
}

main .content div .action .comment p::after{
	content: close-quote;
}

main .content div .action .comment hr{
	border: .5px solid var(--soft-light-color);
	margin: 10px 0;
}