body{
	background: var(--secondary-color);
}

header{
	background: url('../img/bg/bg.jpg') center center/cover no-repeat fixed;
	padding: 4cm 0;
	text-align: center;
}

header h1{
	color: var(--soft-light-color);
	font-size: 1cm;
}



/* MAIN */
main{
	padding: 2cm 0;
	width: 95%;
	max-width: 1500px;
	margin: auto;
	text-align: center;
}

main h2{
	color: var(--soft-dark-color);
	margin-bottom: 10px;
}

main > span{
	color: var(--soft-dark-color);
	letter-spacing: 1px;
	font-size: 18px;
}

main .report{
	margin-top: 1cm;
	display: grid;
	grid-template-columns: 1fr 15cm;
	grid-gap: 1cm;
}

main .report > div:first-of-type{
	padding: 1cm;
	box-shadow: 0 0 20px #0000000F;
	background: var(--light-color);
}

main .report > div > .header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

main .report > div > .header span:first-of-type{
	font-weight: bold;
	color: var(--primary-color);
}

main .report > div > .header span:last-of-type{
	color: var(--soft-dark-color);
}

main .report > div > img{
	width: 100%;
	border-top: .5px solid #00000050;
	margin-top: 20px;
	padding-top: 20px;
}

main .report > div > div.footer{
	margin-top: 20px;
	border-top: .5px solid #00000050;
	display: flex;
	align-items: center;
	padding-top: 20px;
}

main .report > div > div.footer span{
	display: block;
	text-align: left;
}

main .report > div > div.footer span strong{
	color: var(--soft-dark-color);
}

main .report > div > div.footer button{
	background: var(--light-color);
	border: 1px solid var(--light-color);
	padding: 10px;
	box-shadow: 0 3px 10px #00000020;
	display: flex;
	align-items: center;
	color: var(--soft-dark-color);
	font-weight: bold;
	font-size: 14px;
	margin-left: auto;
}

main .report > div > div.footer button:hover,
main .report > div > div.footer button:focus{
	background: var(--danger-background);
	border-color: var(--danger-background);
	color: var(--danger-color);
	box-shadow: 0 3px 10px #00000015;
}

main .report > div > div.footer button[disabled],
main .report > div > div.footer button[disabled]:hover,
main .report > div > div.footer button[disabled]:focus{
	background: var(--soft-light-color);
	border: 1px solid var(--soft-light-color);
	color: var(--soft-dark-color);
	box-shadow: 0 3px 10px #00000020;
	cursor: not-allowed;
}

main .report > div > div.footer button img{
	width: 20px;
	margin-right: 5px;
}

main .report > div > p{
	margin-top: 1cm;
	text-align: justify;
	letter-spacing: 1px;
	line-height: 30px;
	color: var(--soft-dark-color);
	white-space: pre-line;
}

main .report .comment > div{
	background: var(--light-color);
	padding: 1cm 0;
}

main .report .comment div h3{
	color: var(--soft-dark-color);
}

main .report .comment > div > div{
	margin-top: .4cm;
	padding: .5cm 1cm 0;
	border-top: .5px solid #00000050;
}

main .report .comment div div .header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main .report .comment div div .header strong{
	color: var(--soft-dark-color);
}

main .report .comment div div .header span{
	color: var(--soft-dark-color);
}

main .report .comment div div p{
	text-align: left;
	margin-top: 8px;
	color: var(--soft-dark-color);
	line-height: 25px;
	white-space: pre-line;
}

main .report .comment div div p::before{
	content: open-quote;
}

main .report .comment div div p::after{
	content: close-quote;
}