main div{
	text-align: center;
}

main div h1{
	color: white;
	font-family: 'Arial';
	font-size: 1cm;
	letter-spacing: 3px;
}

main div span{
	font-size: 20px;
	color: lightgray;
	font-family: 'Calibri';
	display: inline-block;
	margin-top: 5px;
}

main div form{
	background: white;
	margin-top: 1cm;
	padding: 20px;
	border-radius: 5px;
}

main div form > *{
	display: block;
}

main div form textarea{
	width: 100%;
	font-family: 'Calibri';
	font-size: 17px;
	height: 5cm;
	max-height: 50vh;
	min-height: 2cm;
	border: 1px solid #00000020;
	padding: .5cm;
	margin-bottom: .5cm;
	resize: vertical;
}

main div form textarea[disabled]{
	background-color: white;
	cursor: not-allowed;
}

main div form label{
	border: 3px dashed lightgray;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Calibri';
	font-size: 15px;
	font-weight: bold;
}

main div form label img{
	width: 20px;
}

main div form label input{
	display: none;
}

main div form button{
	background: var(--blue);
	padding: 10px 20px;
	color: white;
	border: 1px solid var(--blue);
	margin: .5cm 0 0 auto;
	font-weight: bold;
}

main div form button[disabled]{
	cursor: not-allowed;
}