header{
	background: url('../img/bg/background.jpg') center center/cover no-repeat fixed;
	text-align: center;
	height: 8cm;
	display: flex;
	align-items: center;
	justify-content: center;
}

header h1{
	color: white;
	letter-spacing: -2px;
}

main{
	padding: 2cm 0;
	width: 95%;
	max-width: 1100px;
	margin: auto;
	text-align: center;
}

main h2{
	font-weight: normal;
	font-size: .8cm;
}

main > span{
	display: block;
	margin-top: 10px;
	color: dimgray;
}

main > div{
	text-align: left;
	margin-top: 20px;
	border: 1px solid #00000020;
	border-radius: 10px;
	padding: .8cm 0 0;
}

main div h3{
	font-size: 25px;
	font-weight: normal;
	padding: 0 1cm;
}

main div > span{
	font-size: 17px;
	color: gray;
	display: block;
	padding: 0 1cm;
}

main > div > div{
	margin-top: 1cm;
	display: block;
}

main div div a.row{
	display: grid;
	grid-template-columns: 3cm 1fr 1fr;
	border-bottom: 1px solid #00000020;
	padding: 20px 1cm;
}

main div div a.row:last-of-type{
	border-bottom: none;
}

main div div a.row:hover{
	background: #0000000F;
}

main div div a.row > *{
	align-self: center;
}

main div div a.row:first-of-type img{
	width: 1.6cm;
	height: 1.6cm;
	border-radius: 50%;
	object-fit: cover;
}

main div div a.row span:first-of-type{
	font-size: 13px;
	color: dimgray;
	font-weight: bold;
}

main div div a.row span:last-of-type{
	font-size: 17px;
	color: dimgray;
	font-weight: bold;
}

main div div a.row:not(:first-of-type) img{
	width: 15px;
	height: 15px;
}

main div div a.row :last-child{
	margin-left: auto;
}