nav{
	position: absolute;
	width: 100%;
	top: 0;
}

nav > div{
	width: 95%;
	max-width: 1100px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5cm 0;
}

/* LOGO */
nav div a.logo{
	display: flex;
	align-items: flex-end;
	font-size: 1cm;
	font-family: 'Calibri';
	color: white;
	font-weight: bold;
}

nav div a.logo img{
	width: 1cm;
}

/* MENU */
nav div .menu{
	display: flex;
	align-items: center;
}

nav div .menu a{
	color: white;
	font-weight: bold;
}

nav div .menu > a:hover,
nav div .menu > a:focus{
	color: var(--blue);
}

nav div .menu a.active{
	color: var(--blue);
}

nav div .menu > a{
	margin-right: 1cm;
}

/* UNLOGGED */
nav div .menu .unlogged a{
	border: 1px solid var(--blue);
	width: 2.8cm;
	display: inline-block;
	text-align: center;
	padding: 7px;
	border-radius: 20px;
}

nav div .menu .unlogged a:first-of-type{
	background: var(--blue);
}

nav div .menu .unlogged a:first-of-type:hover,
nav div .menu .unlogged a:first-of-type:focus{
	background: transparent;
}

nav div .menu .unlogged a:last-of-type:hover,
nav div .menu .unlogged a:last-of-type:focus{
	background: var(--blue);
}