main{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

main span{
	font-size: 5cm;
	color: var(--blue);
	line-height: 0;
}

main h1{
	font-weight: normal;
	color: dimgray;
	margin: 30px 0 20px;
}

main p{
	letter-spacing: 1px;
	line-height: 25px;
}

main p a{
	color: var(--blue);
	border-bottom: 1px dashed var(--blue);
}

main p a:hover,
main p a:focus{
	border-bottom-style: solid;
}