body{
	background: white;
}

body main{
	flex-direction: column;
}

body main span{
	font-size: 5cm;
	color: var(--blue);
	font-family: 'Arial';
	line-height: 4.5cm;
}

body main h1{
	font-size: 1cm;
	font-family: 'Arial';
	font-weight: normal;
	color: dimgray;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

body main p{
	font-size: 20px;
	font-family: 'Calibri';
	color: dimgray;
}

body main p a{
	color: var(--blue);
	border-bottom: 1px dashed var(--blue);
}