main .content .header div h1{
	color: var(--primary-color);
	margin-bottom: 5px;
	font-size: 25px;
}

main .content .header div span{
	color: var(--soft-dark-color);
	font-size: 15px;
	letter-spacing: .5px;
}

main .content .header a{
	background: var(--light-color);
	border: none;
	padding: 10px;
	box-shadow: 0 0 10px #0000000F;
	display: flex;
	align-items: center;
	color: var(--soft-dark-color);
	font-weight: bold;
	font-size: 14px;
}

main .content .header a:focus{
	background: var(--soft-light-color);
}

main .content .header a img{
	width: 20px;
	margin-right: 5px;
}

main .content form{
	background: var(--light-color);
	margin-top: 1cm;
	box-shadow: 0 0 10px #0000000F;
	padding: 1cm;
}

main .content form .top{
	text-align: center;
	border-bottom: 1px solid #00000020;
	padding-bottom: 1cm;
}

main .content form .top img{
	width: 4cm;
	height: 4cm;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
	display: block;
	margin: 0 auto 1cm;
}

main .content form .top label,
main .content form .top a{
	margin: 0 10px;
	padding: 10px;
	color: var(--secondary-color);
	border-radius: 10px;
	font-size: 14px;
	width: 4cm;
	display: inline-block;
}

main .content form .top label{
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	cursor: pointer;
}

main .content form .top label input{
	display: none;
}

main .content form .top a{
	border: 1px solid var(--danger-color);
	color: var(--danger-color);
}

main .content form .body{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	grid-gap: 1cm;
	margin-top: 1cm;
	border-bottom: 1px solid #00000020;
	padding-bottom: 1cm;
}

main .content form .body div label{
	color: var(--soft-dark-color);
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: bold;
}

main .content form .body div input{
	width: 100%;
	font-size: 14px;
	padding: 10px;
	margin-top: 5px;
	border-radius: 10px;
	border: 1px solid var(--soft-light-color);
	color: var(--soft-dark-color);
}

main .content form .changepass{
	text-align: center;
	margin: 1cm 0;
}

main .content form .changepass span{
	color: var(--soft-dark-color);
	display: block;
	margin-bottom: 20px;
	font-size: 20px;
}

main .content form .changepass a{
	padding: 10px 15px;
	color: var(--danger-color);
	border-radius: 10px;
	font-size: 14px;
	background: var(--danger-background);
}

main .content form .footer{
	text-align: right;
	border-top: 1px solid #00000020;
	padding-top: 20px;
}

main .content form .footer button{
	padding: 10px 20px;
	color: var(--secondary-color);
	border-radius: 10px;
	font-size: 14px;
	background: var(--primary-color);
	border: 1px solid var(--primary-color);
	font-weight: bold;
	letter-spacing: 1px;
}