main .content > .header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

main .content .header div h1{
	color: var(--primary-color);
	margin-bottom: 5px;
	font-size: 25px;
}

main .content .header div span{
	color: var(--soft-dark-color);
	font-size: 15px;
	letter-spacing: .5px;
}

main .content .header a{
	background: var(--light-color);
	border: none;
	padding: 10px;
	box-shadow: 0 0 10px #0000000F;
	display: flex;
	align-items: center;
	color: var(--soft-dark-color);
	font-weight: bold;
	font-size: 14px;
}

main .content .header a:focus{
	background: var(--soft-light-color);
}

main .content .header a img{
	width: 20px;
	margin-right: 5px;
}

main .content form{
	background: var(--light-color);
	margin-top: 1cm;
	box-shadow: 0 0 10px #0000000F;
}

main .content form .top{
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main .content form > .top > button{
	background: var(--light-color);
	border: none;
	padding: 10px;
	display: flex;
	align-items: center;
	color: var(--soft-dark-color);
	font-weight: bold;
	font-size: 14px;
	opacity: .5;
}

main .content form > .top > button:hover{
	box-shadow: 0 0 10px #0000000F;
	opacity: 1;
}

main .content form .top > button > img{
	width: 15px;
	margin-right: 5px;
}

main .content form .top div{
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
}

main .content form .top div input{
	text-align: right;
	border: none;
	letter-spacing: 1px;
	outline: none;
	width: 100%;
	font-size: 15px;
	color: var(--primary-color);
	margin-right: 5px;
}

main .content form .top > div > button{
	background: transparent;
	border: none;
	text-align: center;
	padding: 10px;
	border-radius: 50%;
	transition: .3s;
}

main .content form .top div button:hover{
	background-color: var(--secondary-color);
}

main .content form .top div button img{
	width: 15px;
}

main .content form .top div > img{
	width: 2px;
	height: 35px;
	margin: 0 15px;
}

main .content form .top div .filter-menu{
	position: absolute;
	top: 1.1cm;
	right: 0;
	width: 15cm;
	display: block;
	background: var(--light-color);
	box-shadow: 0 0 10px #00000025;
}

main .content form .top div .filter-menu > span{
	display: block;
	padding: 20px;
	font-size: 13px;
	color: var(--soft-dark-color);
	font-weight: bold;
	border-bottom: 1px solid #0000000F;
}

main .content form .top div .filter-menu .filter{
	padding: 20px;
}

main .content form .top div .filter-menu .filter > div{
	display: block;
	margin: 0 10px;
}

main .content form .top div .filter-menu .filter > div span{
	display: block;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	color: var(--soft-dark-color);
	margin-bottom: 5px;
}

main .content form .top div .filter-menu .filter > div select{
	width: 100%;
	padding: 10px;
	font-size: 12px;
	letter-spacing: 1px;
	border-radius: 5px;
	border: 1px solid var(--soft-light-color);
	color: var(--soft-dark-color);
	cursor: pointer;
}

main .content form .top div .filter-menu .footer{
	justify-content: flex-end;
	padding: 20px;
	border-top: 1px solid #0000000F;
}

main .content form .top div .filter-menu .footer button{
	background: var(--primary-color);
	color: var(--light-color);
	border: none;
	padding: 10px;
	width: 2.6cm;
	margin: 0 5px;
	font-weight: bold;
	border-radius: 5px;
	font-size: 13px;
}

main .content form .body > div{
	display: grid;
	grid-template-columns: 2cm 1fr 1fr 1fr 1fr 1fr;
}

main .content form .body > div > div{
	display: flex;
	align-items: center;
}

main .content form .body > div > div:first-of-type{
	justify-content: center;
}

main .content form .body > div.header{
	padding: 10px 0;
	border-top: 1px solid #00000025;
	border-bottom: 1px solid #00000025;
}

main .content form .body > div.header div span{
	color: var(--soft-dark-color);
	font-size: 13px;
}

main .content form .body > div.user{
	padding: 10px 0;
	border-bottom: 1px solid #00000025;
	transition: .2s;
}

main .content form .body > div.user:hover{
	background: var(--secondary-color);
}

main .content form .body > div.user div span{
	color: var(--soft-dark-color);
	font-size: 15px;
}

main .content form .body > div.user div:nth-of-type(2) span{
	font-weight: bold;
}

main .content form .body > div.user div img{
	width: 1.2cm;
	height: 1.2cm;
	border-radius: 50%;
	object-position: center;
	object-fit: cover;
	margin-right: 15px;
}