body{
	background: aliceblue;
}

header{
	background: url('../img/bg/bg.jpg') center center/cover no-repeat fixed;
	padding: 4cm 0;
	text-align: center;
}

header h1{
	color: white;
	font-size: 1cm;
}



/* MAIN */
main{
	padding: 2cm 0;
	width: 95%;
	max-width: 1100px;
	margin: auto;
	text-align: center;
}

main h2{
	color: dimgray;
	margin-bottom: 10px;
}

main > span{
	color: gray;
	letter-spacing: 1px;
	font-size: 18px;
}

main .data{
	margin-top: 1cm;
	border: 1px solid #ccc;
}

main .data{
	margin-top: 1cm;
}

main .data > div{
	position: relative;
	border-bottom: .5px solid #eeeeee;
	background: white;
	text-align: left;
}

main .data > div:hover{
	background: #fafafa;
}

main .data > div > a{
	display: grid;
	grid-template-columns: 1.5cm 1fr 6cm 4cm;
}

main .data div a div:not(.action){
	padding: 20px;
	color: dimgray;
}

main .data div a div:first-of-type{
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 0;
	border-right: 1px solid #ccc;
}

main .data div a div:nth-of-type(2){
	min-width: 0;
	align-self: center;
}

main .data div a div:nth-of-type(2) p{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

main .data div a div:nth-of-type(3){
	text-align: right;
	padding-right: 30px;
}