body{
	background: url('../img/bg/bg.jpg') center center/cover no-repeat fixed;
}



/* MAIN */
main{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/* FORM */
main form{
	padding: 1.5cm 1cm;
	background: var(--light-color);
	border-radius: 1cm 0;
	width: 10cm;
}

/* HOME BUTTON */
main form > a{
	position: absolute;
	left: 20px;
	top: 20px;
	line-height: 0;
	box-shadow: 0 0 10px #00000050;
	border-radius: 50%;
	padding: 5px;
}

main form > a img{
	width: .7cm;
}

/* TITLE */
main form h1{
	color: var(--primary-color);
	margin-bottom: 10px;
}

main form span{
	color: var(--soft-dark-color);
	font-size: 15px;
}

/* INPUT */
main form div:first-of-type{
	margin-top: 20px;
}

main form div{
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--soft-light-color);
	border-radius: 20px;
}

main form div:focus-within{
	border: 1px solid var(--primary-color);
}

main form div:last-of-type{
	margin-bottom: 20px;
}

main form div img{
	width: 1cm;
	padding: 5px;
	margin-left: 5px;
}

main form div input{
	width: 100%;
	border: none;
	margin: 0 5px;
	font-size: 15px;
	color: var(--soft-dark-color);
	outline: none;
}

/* SUBMIT BUTTON */
main form button{
	display: block;
	width: 100%;
	padding: 10px;
	background: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 20px;
	color: var(--light-color);
	margin-bottom: 15px;
}

main form button:focus{
	background: var(--tertiary-color);
	border-color: var(--tertiary-color);
	color: var(--dark-color);
}

/* LINK SPAN */
main form span a{
	color: var(--primary-color);
	border-bottom: 1px solid var(--soft-light-color);
}