@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins|Roboto:400,500,600,700,800,900&display=swap');

:root{
	--blue: #0092ff;
	--gray: #8492a6;
	
	--border-radius: 8px;
}

.show{
	opacity: 1 !important;
	visibility: visible !important;
}

.hide{
	opacity: 0 !important;
	visibility: hidden !important;
}

*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

p{
	line-height: 35px;
	text-align: justify;
}

h2.section-title{
	font-family: 'Poppins';
	letter-spacing: .5px;
	font-weight: 600;
	font-size: 30px;
	text-align: center;
}

span.sub-section-title{
	display: block;
	text-align: center;
	color: var(--gray);
	margin-top: 15px;
}

nav{
	position: absolute;
	width: 100%;
	/* background-color: gray; */
}

nav .width{
	display: grid;
	grid-template-columns: auto 1fr;
	width: 95%;
	max-width: 1100px;
	margin: auto;
	padding: 30px 0;
}

nav .width a{
	color: white;
}

nav .width > *{
	align-self: center;
}

nav .width .left a{
	font-family: 'Roboto';
	font-weight: 900;
	font-size: 30px;
}

nav .width .right{
	text-align: right;
	font-family: 'Poppins';
	font-weight: 600;
}

nav .width .right a{
	font-size: 13px;
}

nav .width .right a.menu{
	margin-right: 30px;
}

nav .width .right a.signin{
	background: var(--blue);
	padding: 10px 20px;
	border-radius: var(--border-radius);
	margin-right: 10px;
	border: 1px solid transparent;
}

nav .width .right a.signin:hover{
	background: transparent;
	border: 1px solid var(--blue);
}

nav .width .right a.signup{
	padding: 10px 20px;
	border: 1px solid var(--blue);
	border-radius: var(--border-radius);
}

nav .width .right a.signup:hover{
	background: var(--blue);
}

footer{
	background: url(https://mannatthemes.com/assets/images/bg-home.jpg) center center/cover no-repeat fixed;
}

footer .width{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
	width: 95%;
	max-width: 1100px;
	margin: auto;
	padding: 50px 0;
}

footer .width div:nth-child(1) a{
	font-size: 30px;
	font-family: 'Roboto';
	font-weight: 900;
	color: var(--gray);
}

footer .width div:nth-child(1) p{
	margin: 10px 0;
	color: gray;
	font-size: 15.9px;
}

footer .width div:nth-child(1) div a{
	display: inline-block;
	color: var(--gray);
	border: 1px solid var(--gray);
	text-align: center;
	font-size: 15px;
	padding: 5px 0;
	width: 30px;
}

footer .width div:nth-child(1) div a:hover{
	background-color: var(--gray);
	color: white;
}

footer .width div:nth-child(2) *{
	display: block;
}

footer .width div:nth-child(2) span{
	font-family: 'Poppins';
	font-size: 20px;
	color: var(--gray);
}

footer .width div:nth-child(2) a{
	margin-top: 10px;
	color: gray;
}

footer .width div:nth-child(3) > *{
	display: block;
}

footer .width div:nth-child(3) div *{
	display: inline-block;
}

footer .width div:nth-child(3) div i{
	color: gray;
}

footer .width div:nth-child(3) span{
	font-family: 'Poppins';
	font-size: 20px;
	color: var(--gray);
}

footer .width div:nth-child(3) a{
	margin-top: 10px;
	color: gray;
}

#signin-modal{
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: #00000055;
}

#signin-modal .modal-content{
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background: white;
	box-shadow: 0 0 20px #00000011;
	width: 12cm;
	padding: 1.5cm;
}

#signin-modal .modal-content i.fa-times{
	text-align: right;
	display: block;
	cursor: pointer;
}

#signin-modal .modal-content form > *{
	display: block;
}

#signin-modal .modal-content form div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #00000022;
	margin-top: 20px;
	padding: 10px 0;
}

#signin-modal .modal-content form div input{
	width: 100%;
	font-size: 15px;
	padding: 5px 15px;
	border: none;
	outline: none;
}

#signin-modal .modal-content form div i{
	font-size: 20px;
}

#signin-modal .modal-content form a:first-of-type{
	margin-top: 20px;
	color: dimgray;
	font-size: 14px;
}

#signin-modal .modal-content form button{
	margin-top: 20px;
	width: 100%;
	border: 1px solid var(--blue);
	padding: 10px 0;
	cursor: pointer;
	background-color: var(--blue);
	color: white;
}

#signin-modal .modal-content form a:last-of-type{
	margin-top: 20px;
	color: dimgray;
	font-size: 14px;
}

#signup-modal{
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: #00000055;
}

#signup-modal .modal-content{
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background: white;
	box-shadow: 0 0 20px #00000011;
	width: 15cm;
	padding: 1.5cm;
}

#signup-modal .modal-content i.fa-times{
	text-align: right;
	display: block;
	cursor: pointer;
}

#signup-modal .modal-content form{
	margin-top: 40px;
}

#signup-modal .modal-content form > div:not(:nth-child(3)){
	display: flex;
	justify-content: space-between;
}

#signup-modal .modal-content form div:nth-child(3){
	display: flex;
	border-bottom: 1px solid #00000022;
	padding: 10px 0;
}

#signup-modal .modal-content form div:nth-child(3) i{
	align-self: center;
	font-size: 20px;
}

#signup-modal .modal-content form div:nth-child(3) input{
	width: 100%;
	padding: 5px 10px;
	border: none;
	outline: none;
	font-size: 15px;
}

#signup-modal .modal-content form div div{
	display: flex;
	width: 47%;
	margin-bottom: 20px;
	border-bottom: 1px solid #00000022;
	padding: 10px 0;
}

#signup-modal .modal-content form div div i{
	align-self: center;
	font-size: 20px;
}

#signup-modal .modal-content form div div input{
	width: 100%;
	padding: 5px 10px;
	border: none;
	outline: none;
	font-size: 15px;
}

#signup-modal .modal-content form button{
	margin-top: 20px;
	width: 100%;
	border: 1px solid var(--blue);
	padding: 10px 0;
	cursor: pointer;
	background-color: var(--blue);
	color: white;
}

#signup-modal .modal-content form > a{
	margin-top: 20px;
	color: dimgray;
	font-size: 14px;
	display: block;
}