main .content{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 10cm;
}

main .content h1{
	color: var(--dash-blue);
	font-size: 16px;
	background: white;
	padding: 20px 1cm;
	border-radius: 10px;
	box-shadow: 0 0 12px 1px rgba(44,55,130,0.15);
	display: flex;
	align-items: center;
}

main .content h1 img{
	width: 20px;
	margin-right: 10px;
}

main .content a{
	text-align: center;
	background: white;
	padding: 1.5cm;
	border-radius: 20px;
	transition: .5s;
}

main .content a:hover{
	box-shadow: 0 3px 12px 1px rgba(44,55,130,0.15);
	padding: 2cm;
}

main .content a img{
	width: 4cm;
}

main .content a h2{
	font-size: 18px;
	margin-top: 20px;
	color: var(--dash-blue);
}